/**
 * Things De Wet changed. I need to ask where to put this.
 */

/**
 * Images
 */
.profile-img {
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    max-width: 100%;
    vertical-align: middle;
    height: 243px;
    width: 160px;
}

