/**
 * Things De Wet changed. I need to ask where to put this.
 */

/**
 * Images
 */
.profile-img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    max-width: 100%;
    height: 243px;
    width: 160px;
}

#endorsements {
  display: inline-block;
}

.endorsement-img {
  float: left;
  border-radius: 50%;
  height: 100px;
  margin-right: $spacing-unit / 2;
}

.endorsement {
  font-style: italic;
  margin-bottom: 5px;
}

.endorser {
  color: $grey-color;
}

html, body{
    height: 100%
}

p:last-child {
  margin-bottom: 0px;
}
/*
* {
  border: solid 1px;
}
*/
